.register{
    background-image: url('https://images.pexels.com/photos/6812375/pexels-photo-6812375.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.inputbox .emailicon{
    font-size: 1.1rem;
}
@media screen and (min-width: 640px) and (max-width: 1400px) {  
    .inputbox .emailicon{
        font-size: 1.5rem;
    }
}